/* Reset básico e configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout Principal */
.sidebar {
    width: 250px; /* Largura fixa para desktops */
    background-color: #3fafd4;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    overflow-y: auto; /* Scrollbar se necessário */
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left:15%; /* Deve corresponder à largura da sidebar */
    background-color: #ffffff; /* Fundo um pouco mais claro que o corpo do formulário */
    padding: 10px 20px;
    border-top-left-radius: 8px; /* Arredonda apenas os cantos superiores */
    border-top-right-radius: 8px;
    box-shadow: 0 2px 4px rgba(4, 112, 236, 0.1); /* Sombra sutil para definição */
   
    color: #063241; /* Cor azul clara para destaque */
    font-size: 20px; /* Tamanho maior para mais visibilidade */
    padding: 10px 0; /* Espaço acima e abaixo para separação clara do conteúdo */
    font-weight: bold; /* Texto em negrito */
}

/* Ajustes Responsivos para Sidebar e Content */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Sidebar ocupa toda a largura */
        height: auto; /* Altura automática */
        position: relative; /* Não mais fixo na tela */
        padding: 10px; /* Padding reduzido para telas menores */
    }

    .content {
        margin-left: 0; /* Removendo a margem pois a sidebar não é mais fixa */
    }
}

/* Menu na Sidebar */
/* Estilos base para o menu */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    text-align: center; /* Centraliza os itens horizontalmente */
}

.menu li {
    display: inline-block; /* Alinha os itens do menu horizontalmente */
    margin: 0 20px; /* Espaçamento horizontal entre itens */
}

.menu a {
    text-decoration: none;
    color: #152349;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Suaviza a transição de cor de fundo */
}

.menu a:hover, .menu a:focus {
    color: #000000;
    background-color: #ffffff; /* Muda a cor de fundo ao interagir */
    /* Removido o transform translateY para evitar sobreposição */
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .menu li {
        display: block; /* Coloca cada item em sua própria linha */
        margin: 15px auto; /* Ajusta a margem vertical para mais espaço entre os itens */
    }

    .menu a {
        display: block; /* Garante que o link preencha o espaço horizontal do item da lista */
        width: 100%; /* Faz o link preencher totalmente a largura do item li */
        text-align: center; /* Garante que o texto dentro do link também esteja centralizado */
    }
}




/* Logo na Sidebar */
.sidebar img.logo {
    display: block; /* Garante que o logo seja tratado como um bloco */
    margin: 0 auto; /* Auto margens nas laterais para centralizar horizontalmente */
    width: 100%; /* Ajuste conforme necessário para o tamanho do logo */
    max-width: 200px; /* Limita o tamanho máximo do logo */
    height: auto; /* Mantém a proporção do logo */
    padding: 20px 0; /* Espaço acima e abaixo do logo (ajuste conforme necessário) */
}

/* Container do Logo (se aplicável) */
.logo-container {
    text-align: center; /* Centraliza o conteúdo dentro do container */
    padding: 10px; /* Padding para não colar nas bordas */
    background-color: #fff; /* Fundo opcional, ajuste conforme o design */
    border-bottom: 1px solid #ececec; /* Linha sutil abaixo do logo se estiver no topo */
}

/* Mensagem de Boas-vindas */
.welcome-message {
    background-size: cover; /* A imagem cobre toda a área da div */
    background-position: center; /* Centraliza a imagem na div */
    color: rgba(0, 0, 0, 0.342); /* Muda a cor do texto para branco */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.377); /* Sombra no texto para melhorar a legibilidade */
    padding: 40px; /* Espaçamento interno para não colar o texto nas bordas */
    border-radius: 8px; /* Bordas arredondadas para estética */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.384); /* Sombra externa suave */
    background-color: rgb(0, 0, 0); /* Fundo preto semi-transparente para melhor contraste */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.welcome-message h1 {
    font-size: 2.5rem; /* Tamanho do título */
    margin-bottom: 20px; /* Espaçamento entre o título e o parágrafo */
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
}

.welcome-message p {
    font-size: 1.2rem; /* Tamanho do texto do parágrafo */
    max-width: 80%; /* Limita a largura do parágrafo para melhor formatação */
    text-align: center; /* Centraliza o texto */
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
}



/* Estilização adicional para a seção onde a imagem está */
.carousel {
    text-align: center; /* Centraliza o conteúdo da seção */
    padding: 20px; /* Espaçamento interno */
    background-color: #ffffff; /* Fundo branco para contraste */
    margin: 20px; /* Margem ao redor da seção para separação dos outros elementos */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil para efeito 3D */
}

.carousel-item img {
    width: auto;  /* Faz a imagem esticar para ocupar toda a largura do contêdor */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 400px; /* Limita a altura máxima da imagem para evitar que seja muito grande */
    object-fit: cover; /* Garante que a imagem cubra o espaço disponível sem distorcer */
    border-radius: 8px; /* Adiciona bordas arredondadas para um look moderno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade e destaque */
    margin-bottom: 20px; /* Espaço abaixo da imagem para separação do texto */
}

/* Features */
.feature {
    flex-basis: 30%; /* Ajusta a largura de cada feature para garantir consistência */
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: center; /* Centraliza o texto horizontalmente */
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Sombra mais proeminente para efeito de profundidade */
    background-color: #ffffff; /* Fundo branco para melhor contraste com o texto e a imagem */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves para interações */
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Centraliza os itens e gerencia o espaçamento */
    gap: 20px; /* Espaço entre as features */
    padding: 20px;
    background-color: #f8f9fa;
}

.feature img {
    width: 80%; /* Reduz a largura máxima para evitar que a imagem domine o espaço */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Espaço entre a imagem e o ícone */
    border-radius: 5px; /* Bordas arredondadas na imagem para suavizar as bordas */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil para dar destaque à imagem */
}

.feature i {
    font-size: 24px; /* Tamanho do ícone */
    color: #425c77; /* Cor do ícone */
    margin-bottom: 5px; /* Espaço entre o ícone e o título */
}

.feature:hover {
    transform: translateY(-5px); /* Efeito de levantar a feature ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Sombra mais proeminente ao passar o mouse */
}

.feature img:hover {
    transform: scale(1.05); /* Aumenta ligeiramente a imagem ao passar o mouse para destacar */
}

@media (min-width: 768px) {
    .feature {
        flex-basis: 50%; /* Duas colunas para tablets e telas médias */
    }
}

@media (min-width: 992px) {
    .feature {
        flex-basis: 25%; /* Quatro colunas para desktops e telas maiores */
    }
}

h1, h2 {
    color: #333333;
}

p {
    color: #666;
}

/* Estilo geral para formulários */
.form {
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Texto em branco para contraste */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Espaço após cada formulário */
}

/* Cabeçalho do formulário */
.form-header {
    background-color: #444; /* Fundo um pouco mais claro que o corpo do formulário */
    padding: 10px 20px;
    border-top-left-radius: 8px; /* Arredonda apenas os cantos superiores */
    border-top-right-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para definição */
}

/* Títulos centralizados e estilizados dentro dos formulários */
.form h2 {
    text-align: center; /* Centraliza o texto */
    color: #00bfff; /* Cor azul clara para destaque */
    font-size: 24px; /* Tamanho maior para mais visibilidade */
    margin: 0; /* Remove margens padrão para alinhamento adequado */
    padding: 10px 0; /* Espaço acima e abaixo para separação clara do conteúdo */
    font-weight: bold; /* Texto em negrito */
}

/* Botões */
button {
    background-color: #0f67a1; 
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /* Tamanho maior para facilidade de clique */
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0f67a1; /* Verde um pouco mais escuro ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .form {
        width: 90%; /* Ajusta a largura em dispositivos menores */
        padding: 20px; /* Padding reduzido para ajuste em telas pequenas */
    }
}


/* Galeria de Imagens */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as imagens na galeria */
    gap: 20px; /* Espaçamento entre as imagens */
    padding: 20px;
    background-color: #f8f9fa; /* Fundo claro para a galeria */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para efeito tridimensional */
    margin: 20px auto; /* Centraliza a galeria horizontalmente com margem */
}

.image-gallery img {
    width: 100%; /* Ajuste conforme necessário */
    max-width: 300px; /* Máximo de largura para cada imagem */
    height: auto; /* Altura automática para manter proporções */
    border-radius: 8px; /* Bordas arredondadas para um visual moderno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para adicionar profundidade */
    transition: transform 0.3s ease; /* Transição suave para efeito de hover */
}

.image-gallery img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-container {
    position: relative;
    display: inline-block; /* Ou 'block' dependendo do layout */
    width: 300px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-caption {
    position: absolute;
    bottom: 0; /* Posiciona o texto na parte inferior da imagem */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Suave sombra para uma distinção sutil */
}

.footer p, .footer h5 {
    color: #6c757d; /* Texto em cinza para um look suave e profissional */
    font-size: 14px;
}

.footer a {
    color: #6c757d;
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: color 0.3s; /* Suaviza a transição de cor */
}

.footer a:hover {
    color: #122333; /* Cor mais escura para melhor destaque ao interagir */
}

.social-links a {
    font-size: 24px; /* Tamanho adequado para ícones de redes sociais */
    transition: transform 0.3s ease-in-out; /* Suaviza a transformação ao interagir */
}

.social-links a:hover {
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}
